.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    outline: none;
    border: 1px solid #ccc;
}

.button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

